@import "tailwindcss";

/* --- Animación Reel de Clientes --- */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex !important;
  /* Fuerza el flex siempre */
  flex-direction: row !important;
  /* Fuerza la fila */
  width: max-content;
  animation: scroll 40s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

/* --- Utilidades --- */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-shadow-glow {
  text-shadow: 0 0 30px rgba(59, 130, 246, 0.4);
}

/* Prevenir que el body se mueva con el modal abierto */
body.overflow-hidden {
  touch-action: none;
}